<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Libreria</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{%static 'AppEntrega/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Libreria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Libros' %}">Agregar libros</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Librosl' %}">Libros</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Juegomesa' %}">Juegos de mesa</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Socios' %}">Socios</a> </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'BusquedaSocio' %}">Buscar Socio</a></li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrar</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'perfedit' %}">Editar Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    <img src="{{url}}" style="height: 40px; width: 45px;" >
                    <li class="nav-item"><a class="nav-link active"> Hola, {{user.username}} </a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1>Libreria</h1>
            <p class="lead">Puedes ingresar tus libros, juegos de mesa, registrarte como Socio y mas </p>
        </div>
    </div>

    {% block contenidoQueCambia %}


    {% endblock %}

    <footer>
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <a href=" {% url 'about' %} ">Acerca de mi</a></footer>
        </div>
</body>
</html>